nav ul {
    list-style-type: none;
}

.nav-primary {

    .menu {
        display: none;
    }

    .menu-item.active {
        color: var(--orange);
    }

    .toggle {
        cursor: pointer;

        &:active {
            background: #E7E7E7;
        }

        .bars {
            width: 20px;
            height: 2px;
            background: var(--gray);
            position: relative;
            transition: background 0s ease-in-out .3s;

            &::before, &::after {
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: var(--gray);
                content: "";
            }

            &::before {
                top: -5px;
                transition: top .2s ease-in-out .2s, transform .2s ease-in-out;
            }

            &::after {
                top: 5px;
                transition: top .2s ease-in-out .2s, transform .2s ease-in-out;
            }
        }

    }
}

.nav-secondary {
    width: 70%;
    max-width: 300px;
    transform: translateX(-100%);
    transition: all .35s ease-in-out;

    .menu-item {
        cursor: pointer;

        &.active {
            color: var(--white);
        }
    }

}

.mask {
    background: rgba($color: #000000, $alpha: 0.8);
    display: none;
}

.show-menu {
    .toggle {

        .bars {
            background: transparent;
            transition: background 0s ease-in-out .2s;

            &::before {
                top: 0;
                transform: rotate(45deg);
                transition: top .2s ease-in-out, transform .2s ease-in-out .2s;
               
            }

            &::after {
                top: 0;
                transform: rotate(-45deg);
                transition: top .2s ease-in-out, transform .2s ease-in-out .2s;
            }
        }
    }

    &~.nav-secondary {
        transform: translateX(0);
    }

    &~.mask {
        display: block;
    }
}

.show-icon {
    .fa-caret-down {
        transform: rotate(-180deg);
    }
}

@media (min-width: 1200px) {
    .nav-primary {
        .logo {
            display: none;
        }

        .menu {
            display: flex;
        }

        .toggle {
            display: none;
        }
    }

    .nav-secondary {
        display: none;
    }
}