.bg-white {
    background: var(--white);
}

.bg-gray1 {
    background: var(--gray1);
}

.bg-gray2 {
    background: var(--gray2);
}

.bg-gray3 {
    background: var(--gray3);
}

.bg-gray4 {
    background: var(--gray4);
}

.bg-gray9 {
    background: var(--gray9);
}

.bg-gray8 {
    background: var(--gray8);
}

.bg-blue {
    background: var(--blue);
}

.bg-orange {
    background: var(--orange);
}

