.gray1 {
    color: var(--gray1);
}

.gray2 {
    color: var(--gray2);
}

.gray3 {
    color: var(--gray3);
}

.gray4 {
    color: var(--gray4);
}

.gray5 {
    color: var(--gray5);
}

.gray6 {
    color: var(--gray6);
}

.gray7 {
    color: var(--gray7);
}

.gray8 {
    color: var(--gray8);
}

.gray9 {
    color: var(--gray9);
}

.white {
    color: white;
}

.blue {
    color: var(--blue);
}

.orange {
    color: orange;
}