/* Underline From Center */
.hvr-center {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: var(--orange);
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover:before, &:focus:before, &:active:before {
        left: 0;
        right: 0;
    }

    &:hover, &:focus, &:active {
        color: var(--orange);
    }
}

.hvr-white {
    &:hover {
        color: var(--white);
    }
}

.hvr-bg-darken {
    &:hover, &:focus, &:active {
        background: darken($color:#339AF0, $amount: 20);
        color: var(--white);
        transition: background .35s ease-in;
    }
}

.hvr-orange {
    &:hover, &:focus, &:active {
        color: var(--orange);
    }
}

.hvr-bg-orange {

    .text {
        display: block;
        transition: transform .2s ease-in-out;
    }

    &:hover, &:focus, &:active {
        background: var(--orange);
        color: var(--white);
    }

    &:hover > .text, &:focus > .text, &:active > .text {
        transform: translateX(7px);
    }
}

.hvr-circle {
    transition: transform .5s ease-in-out;
    
    &:hover, &:focus, &:active {
        color: white;
        transform: rotate(360deg);
    }
}
